<main>
  <nav class="navBar">
    <div class="rightSide">
      <p class="myBalance">My balance</p>
      <h1>{{currentBalance | currency}}</h1>
    </div>
    <div class="leftSide2">
      <div class="orangeCircle"></div>
      <div class="brownCircle"></div>

    </div>

  </nav>
  <div id="divChart">
    <canvas id="myChart" style="width:100%;max-width:700px"></canvas>
    <hr>
    <section class="bottomSection">
      <div class="leftSide">
        <p class="totalB">Total this month</p>
        <h1 class="lastM">{{thisMonth | currency:'USD'}}</h1>
      </div>
      <div class="rightSide">
        <p class="lastMonth">{{fromLastMonth}}</p>
        <p class="lastM">from last month</p>
      </div>
    </section>
  </div>
</main>
